h1 {
	font: normal 22px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	padding: 10px 8px 5px;
	margin: 0;
	float: left;
}

h2 {
	font: italic normal normal 24px/29px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  color: #464646;
	margin: 0;
	padding: 14px 15px 3px 0;
	line-height: 35px;
	text-shadow: rgba(255,255,255,1) 0px 1px 0px;
}

body,
#ui-datepicker-div,
#order_tests {
  font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-size: 13px;
}

#order_tests {
  height: 35em;
}

body {
  background-color: #4B7399;
  color: #333333;
}

textarea, input, select {
  font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-size: 12px;
  color: #333333;
	border-width: 1px;
	border-style: solid;
  border-color: #dfdfdf;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	/*border-radius: 4px;*/
}

table {
  /*table-layout: fixed;*/
	margin: 2.5em 0;
	width: 550px;
	border-collapse: collapse;
  border-spacing: 0 0;
	text-align: left;
}

th {
	font-size: 14px;
	font-weight: bold;
	padding: 8px 8px;
	border-bottom: 2px solid #6678b1;
}

td {
	padding: .4em .5em;
  /*margin: none;*/
  border: none;
}

td.high_value, td.low_value, td.abnormal_value, td.normal_value {
	text-align: right;
  padding-right: 15px;
}

td.low_value {
	background: url(/images/low_flag.png) no-repeat center right;
	color: #6678b1;
}

td.high_value {
	background: url(/images/high_flag.png) no-repeat center right;
	color: #a66662;
}

td.abnormal_value {
	background: url(/images/abnormal_flag.png) no-repeat center right;
	color: #800080;
}

td.range_min {
  text-align: right;
	padding-right: 0;
}

td.range_interval_symbol {
  text-align: center;
	padding: 0;
}

td.range_max {
  text-align: left;
	padding-left: 0;
}

tr.even td {
  /*margin: none;*/
  border: none;
}

tr.odd td {
  /*margin: none;*/
  border: none;
  background-color: #e5e5e5;
}

tr:last-child {
  border-bottom: 1px solid #6678b1;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px 40px;
  border: 1px solid #e5e5e5;
  -moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	/*border-radius: 4px;*/
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  -moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	/*border-radius: 3px;*/
  border: solid 1px;
  font-size: 11px;
}

#flash_notice {
	background-color: #ffffe0;
	border-color: #e6db55;
}

#flash_error {
	background-color: #ffebe8;
	border-color: #c00;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

label {
  width: 12em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

label.required {
  font-weight: bold;
}

.submit input {
  margin-left: 13.5em;
}

fieldset {
  border: 1px solid #e5e5e5;
  -moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	/*border-radius: 4px;*/
}

legend {
	font-size: 14px;
  font-weight: bold;
  padding: 2px 6px
}

#menu {
  width: 75%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

#menu li {
  margin: 0;
  padding: 0;
  float: left;
}

#menu li a {
  display: list-item;
  padding: 4px 8px;
  text-decoration: none;
  color: #b5cee5;
  background-color: #8699aa;
}

#menu li a:hover {
  color: white;
  background-color: #324d66;
}

.patient {
  /*float: right;*/
  /*display: block;*/
  background-color: #e5e5e5;
  padding: 10px 20px;
  width: 45%;
  -moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	/*border-radius: 4px;*/
}

.patient .actions {
	font-size: 10px;
  float: right;
}

.patient .full_name {
	font-size: 14px;
  font-weight: bold;
}

.patient .label {
  text-align: right;
}

.accessions {
}

.results .department {
}

#user_nav {
  float: right;
}

li .handle {
  font-size: 9px;
  color: #8699aa;
  cursor: move;
}

#lab_tests li {
 list-style-type: none;
}

#login h1 a {
	background: url(/images/logo.png) no-repeat top center;
}

#user_session_username, #user_session_password {
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
}
