h1 {
	font: normal 22px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	padding: 10px 8px 5px;
	margin: 0;
	float: left;
}

h2 {
	font: italic normal normal 24px/29px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  color: #464646;
	margin: 0;
	padding: 14px 15px 3px 0;
	line-height: 35px;
	text-shadow: rgba(255,255,255,1) 0px 1px 0px;
}

body,
#ui-datepicker-div,
#departments {
  font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-size: 13px;
}

body {
  background-color: #4B7399;
  color: #333333;
}

textarea,
input,
select {
  font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	font-size: 13px;
  color: #333333;
	border-width: 1px;
	border-style: solid;
  border-color: #dfdfdf;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px 40px;
  border: 1px solid #e5e5e5;
  -moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  -moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  border: solid 1px;
  font-size: 11px;
}

#flash_notice {
	background-color: #ffffe0;
	border-color: #e6db55;
}

#flash_error {
	background-color: #ffebe8;
	border-color: #c00;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

label.required {
  font-weight: bold;
}

#menu {
  width: 75%;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

#menu li {
  margin: 0;
  padding: 0;
  float: left;
}

#menu li a {
  display: list-item;
  padding: 4px 8px;
  text-decoration: none;
  background-color: #aebbe2;
}

#menu li a:hover {
  color: white;
  background-color: #4a63b8;
}