<% title "Accessions" %>

<%= render @patient if @patient %>

<h3>Pending List</h3>
<div class="pending_accessions">
  <table>
    <tr>
      <th>Accession #</th>
      <th>Date of Extraction</th>
      <th>Reported Date</th>
      <th>Note</th>
    </tr>
    <%= render @pending_accessions %>
  </table>
</div>

<h3>Recently Reported</h3>
<div class="reported_accessions">
  <table>
    <tr>
      <th>Accession #</th>
      <th>Date of Extraction</th>
      <th>Reported Date</th>
      <th>Note</th>
    </tr>
    <%= render @reported_accessions %>
  </table>
</div>

<%= link_to "New Accession", new_patient_accession_path(@patient) if @patient %>