<% title "Accessions for Patient" %>

<% if @patient %>
  <div class='title_tools'>
    <%= link_to "Order Tests", new_patient_accession_path(@patient) %>
  </div>
  <div class='title'><%=h @patient.full_name if @patient %></div>
<% end %>

<table>
  <tr>
    <div>
      <th class='subtitle'></th>
      <th class='subtitle'>Draw Date</th>
      <th class='subtitle'>Accession ID</th>
      <th class='subtitle'>Drawn by</th>
      <th class='subtitle'>Date Reported</th>
      <th class='subtitle'>Panels/Tests Ordered</th>
    </div>
  </tr>

  <div class="pending_accessions">
    <%= render @pending_accessions %>
  </div>

  <div class="reported_accessions">
    <%= render @reported_accessions %>
  </div>
</table>
