<% title "Accessions" %>

<table>
  <tr>
    <th>Accession #</th>
    <th>Patient</th>
    <th>Other ID</th>
    <th>Labels</th>
    <th>Drawn At</th>
    <th>Drawn By</th>
    <th>Specimen Type</th>
    <th>Reported At</th>
    <th>Stat</th>
    <th>Note</th>
    <th>Diagnosis</th>
  </tr>
  <%= render @accessions %>
</table>
