<% title "Patient Demographics" %>

<%= render @patient %>

<h3>Recent Accessions</h3>

<table>
  <tr>
    <th>Accession #</th>
    <th>Patient</th>
    <th>Other ID</th>
    <th>Labels</th>
    <th>Drawn At</th>
    <th>Drawn By</th>
    <th>Specimen Type</th>
    <th>Reported At</th>
    <th>Stat</th>
    <th>Note</th>
    <th>Diagnosis</th>
  </tr>
  <%= render @patient.accessions %>
</table>

<p>
  <%= link_to "All Accessions", patient_accessions_path(@patient) %> |
  <%= link_to "New Accession", new_patient_accession_path(@patient) %>
</p>
