<% title "Doctor" %>

<p>
  <strong>Name:</strong>
  <%=h @doctor.name %>
</p>

<p>
  <%= link_to "Edit", edit_doctor_path(@doctor) %> |
  <%= link_to "Destroy", @doctor, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", doctors_path %>
</p>
