<% title "Lab Test Unit" %>

<p>
  <strong>Name:</strong>
  <%= @lab_test_unit.name %>
</p>

<p>
  <%= link_to "Edit", edit_lab_test_unit_path(@lab_test_unit) %> |
  <%= link_to "Destroy", @lab_test_unit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", lab_test_units_path %>
</p>
