<div id='tabs'>
  <ul>
    <li><%= link_to t('.patients'), :patients, :class => "active" %></li>
    <li><%= link_to t('.accessions'), :accessions %></li>
  </ul>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
